<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>This has <%= pluralize(@post.upvote, "Upvote")  %></h1>

<%= button_to "Upvote First Post", upvote_page_path(@post), method: :put %>
<%= button_to "Downvote First Post", downvote_page_path(@post), method: :put %>

